body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

.green-background {
    background-color: green;
}

.yellow-background {
    background-color: yellow;
}

.pink-background {
    background-color: fuchsia;
}

.blue-background {
    background-color: blue;
}

.red-background {
    background-color: red;
}

.lightgreen-background {
    background-color: lightgreen;
}

.purple-background {
    background-color: purple;
}

/* Código */

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-container {
    display: flex;
    height: 6vh;
}

.green-background {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-background {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-background {
    height: 63vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#middle-container {
    height: 25vh;
    display: flex;
}

#content2 {
    flex: 2;
    height: 100%;
}

.blue-background {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blank {
    flex: 1;
}

#vertical-middle-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#image {
    flex: 1;
    width: 100%;
    height: 100%;
}

.red-background {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#extra {
    flex: 1;
    width: 100%;
    height: 100%;
}

.lightgreen-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container > div:last-of-type {
    background-color: blue;
    flex: 1;
}

.purple-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


