body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}


div {
    border: 1px solid black;
}

div > div {
    height: 150px;
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Blocos */

#first-block {
    margin: 0;
    background-color: red;
    width: 100%;
}

.blue-block {
    background-color: blue;
}

.yellow-block {
    background-color: yellow;
}

.green-block {
    background-color: green;
}

.black-block {
    background-color: black;
    color: white;
    height: 400px;
}

.white-block {
    background-color: white;
}

/* Código */

#main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    box-sizing: border-box;
    align-items: flex-start;
}

@media screen and (min-device-width: 200px) and (max-device-width: 420px) {
    
    div > div {
        flex: 1 98vw;
    }
}

@media screen and (min-device-width: 421px) and (max-device-width: 800px) {

    .blue-block {
        flex: 1 45vw;
    }
    
    .yellow-block {
        flex: 1 45vw;
    }
    
    .green-block {
        flex: 1 95vw;
    }
    
    .black-block {
        flex: 1 45vw;
    } 
    
    .white-block {
        flex: 1 45vw;
    }

    .white-block:last-of-type {
        flex: 1 98vw;
    }
}

@media screen and (min-device-width: 801px) {

    .blue-block {
        flex: 1 30vw;
    }
    
    .yellow-block {
        flex: 1 30vw;
    }
    
    .green-block {
        flex: 1 30vw;
    }
    
    .black-block {
        flex: 1 46vw;
    } 
    
    .white-block {
        flex: 1 30vw;
    }
}