form {
    background-color:rgb(173, 216, 230);
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    margin: 40px auto;
}

.form-campo {
    background-color:rgb(125, 196, 219);
    /* width: 300px; */
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.form-add button {
    width: 80px;
    margin: 0 210px;
    padding: 10px;
    background-color: rgb(125, 196, 219);
    border-radius: 10px;
}