/* font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif; */

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    padding: 0;
    margin: 0;
}


/* Home */

header {
    height: 92px;
    background-color: #302F2F;
    color: white;
}

div.logo {
    margin-left: 54px;
    display: inline-block;
}

div.logo > span {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    line-height: 92px;
}

header > nav {
    display: inline-block;
    margin-left: 600px;
    line-height: 92px;
}

.nav-link {
    margin-right: 100px;
    font-size: 2.5em;
    text-decoration: none;
    color: inherit;
}

.nav-link:last-of-type{
    margin-right: 0px;
}