@import './normalize.css';

:root {
  --primary: #0079D3;
  --primary-hover: #0079d333;
  --secondary: #FDFDFD;
  --border: rgba(93, 93, 93, 0.4);
  --form-background: #E8F0FE;
  --form-lateral-div: #C1E0FF;
  --page-background: #DAE0E6;

  --post-page-background: #2E2F30;
  --post-header: #030303;
  --post-background: #EDEFF1;
  --post-divider: #DAE0E6;

  --arrow-not-voted: #878A8C;
  --arrow-up-voted: #FF4500;
  --arrow-down-voted: #7193FF;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  box-shadow: none;
  line-height: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

button {
  cursor: pointer;
}
